section#footer
    .container
        .row
            .contact-us
                h1 Get In Touch
                .contact
                    .col-md-3
                        h3 Contact Info
                        .icon
                            span
                                .c-icon
                                    i.fas.fa-phone-alt 
                                p +88 1234 56789
                            span
                                .c-icon
                                    i.fas.fa-envelope 
                                p contact@yourmail.com
                            span
                                .c-icon
                                    i.fas.fa-map-marker-alt 
                                p 203, Envato Labs, Behind Alis Steet,Australia
                    .col-md-9
                        .c-form
                            .col-md-6
                                input(type="text" placeholder="Name")
                            .col-md-6
                                input(type="text" placeholder="Email")
                            .col-md-12
                                textarea(name="", cols="30", rows="10", placeholder="Message").text-area
                            .col-md-12
                                .btn-contact
                                    <a href="#">Contact Us</a>
            .footer-menu
                .col-md-3
                    h4 About Us
                    p Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.
                .col-md-9
                    .row
                        .col-md-4
                            h4 About Us
                            ul
                                li
                                    a(href="") About Us
                                li
                                    a(href="") Team
                                li
                                    a(href="") Customers
                                li
                                    a(href="") Jobs
                        .col-md-4
                            h4 Services
                            ul
                                li
                                    a(href="") About Us
                                li
                                    a(href="") Team
                                li
                                    a(href="") Customers
                                li
                                    a(href="") Jobs
                        .col-md-4
                            h4 Support
                            ul
                                li
                                    a(href="") About Us
                                li
                                    a(href="") Team
                                li
                                    a(href="") Customers
                                li
                                    a(href="") Jobs
            .col-md-12
                .copyright
                    |© 2021, All CopyRight 
                //- .col-md-3
                //-     h4 Services
                //-     ul
                //-         li
                //-             a(href="") About Us
                //-         li
                //-             a(href="") Team
                //-         li
                //-             a(href="") Customers
                //-         li
                //-             a(href="") Jobs
                //- .col-md-3
                //-     h4 Support
                //-     ul
                //-         li
                //-             a(href="") About Us
                //-         li
                //-             a(href="") Team
                //-         li
                //-             a(href="") Customers
                //-         li
                //-             a(href="") Jobs