header
    .container
        .row
            nav
                img(src="../assets/images/logo.png", alt="")
                ul.menu-items
                    li
                        a(href="") Home
                    li
                        a(href="") About
                    li
                        a(href="") Services
                    li
                        a(href="") Contact
                    li
                        a(href="") Portfolio
                    li
                        a(href="") News
                    li
                        a(href="") Shop
                        ul.submenu
                            li
                            a(href="") Shop Details
                            li
                            a(href="") Online Shop
                    li
                        a(href="")
                            i.fas.fa-search