section#footer{
    padding: 0px 41px;
    background: url(/assets/images/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    .contact-us{
        background-color: $light;
        padding: 12px 59px;
        h1{
            color: $dark-purple;
            font-weight: 700;
            text-align: center;
        }
        .contact{
            background-color: $light;
            padding: 70px;
            height: 381px;
            h3{
                color: $dark-purple;
                font-weight: 700;
                text-align: left;
                padding-bottom: 5px;
            }
            .icon{
                span{
                    display: block;
                    margin-bottom: 4rem;
                    position: relative;
                    .c-icon{
                        padding: 10px;
                        /* text-align: right; */
                        border-radius: 50%;
                        display: inline;
                        font-size: 19px;
                        position: absolute;
                        left: 0;
                        color: $light;
                        -webkit-text-fill-color: transparent;
                        background-image: -webkit-linear-gradient( 0deg, rgb(0, 94, 199) 0%, rgb(162, 0, 255) 100%);
                    }
                    p{
                        text-align: left;
                        margin-left: 47px;
                        color: #9b9ba7;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
            .c-form{
                padding: 26px 16px;
                display: flow-root;
                input{
                    width: 100%;
                    border-radius: 3px;
                    padding: 7px;
                    // box-shadow: 2px 2px 6px  #868788;
                    border: 1px solid $grey;
                    &input::placeholder{
                        color: yellowgreen;
                    }
                }
                .text-area{
                    margin-top: 14px;
                    height: 15rem;
                    width: 100%;
                    padding-left: 8px;
                    border: 1px solid #eee;
                }
            }
            .btn-contact{
                text-align: left;
                a{
                    padding: 8px 35px;
                    font-weight: bold;
                    background-color: $primary-color;
                    color: $light;
                    display: inline-block;
                    margin-top: 18px;
                }
            }
        }
    }
    .footer-menu{
        padding: 41px 0;
        border-bottom: 2px solid $light;
        display: flow-root;
        h4{
            color: $light;
            font-weight: bold;
            font-size: 30px;
        }
        p{
            color: $light;
            font-size: 17px;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                padding: 6px 0;
                a{
                    color: white;
                    font-size: 17px;
                }
            }
        }
    }
    .copyright{
        text-align: center;
        font-size: 13px;
        color: $light;
        padding: 24px 0;
    }
}