header{
    background:$purple;
    nav{
        padding-top:2rem;
        padding-bottom: 3rem;
        img{
            float: left;
        }
        .menu-items{
            margin:0 auto;
            padding-top: 1rem;
            text-align: center;
            li{
                display: inline;
                padding-right: 50px;
                font-size: 17px;
                font-weight: bold;
                position: relative;
                .submenu{
                    margin: 0px;
                    list-style: none;
                    width: 200px;
                    background:$light;
                    padding: 20px 10px;
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 200%;
                    text-align: left;
                    opacity: 0;
                    .li{
                        display: block;
                    }
                }
                a{
                    color: $primary-color;
                }
            }
        }
        .fl-right{
            float: right;
        }
    }
}