header {
  background: #dde4ff;
}
header nav {
  padding-top: 2rem;
  padding-bottom: 3rem;
}
header nav img {
  float: left;
}
header nav .menu-items {
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
}
header nav .menu-items li {
  display: inline;
  padding-right: 50px;
  font-size: 17px;
  font-weight: bold;
  position: relative;
}
header nav .menu-items li .submenu {
  margin: 0px;
  list-style: none;
  width: 200px;
  background: #fff;
  padding: 20px 10px;
  position: absolute;
  content: "";
  left: 0;
  top: 200%;
  text-align: left;
  opacity: 0;
}
header nav .menu-items li .submenu .li {
  display: block;
}
header nav .menu-items li a {
  color: #6d42ebbd;
}
header nav .fl-right {
  float: right;
}

section#footer {
  padding: 0px 41px;
  background: url(/assets/images/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
section#footer .contact-us {
  background-color: #fff;
  padding: 12px 59px;
}
section#footer .contact-us h1 {
  color: #38205ee8;
  font-weight: 700;
  text-align: center;
}
section#footer .contact-us .contact {
  background-color: #fff;
  padding: 70px;
  height: 381px;
}
section#footer .contact-us .contact h3 {
  color: #38205ee8;
  font-weight: 700;
  text-align: left;
  padding-bottom: 5px;
}
section#footer .contact-us .contact .icon span {
  display: block;
  margin-bottom: 4rem;
  position: relative;
}
section#footer .contact-us .contact .icon span .c-icon {
  padding: 10px;
  /* text-align: right; */
  border-radius: 50%;
  display: inline;
  font-size: 19px;
  position: absolute;
  left: 0;
  color: #fff;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(0deg, #005ec7 0%, #a200ff 100%);
}
section#footer .contact-us .contact .icon span p {
  text-align: left;
  margin-left: 47px;
  color: #9b9ba7;
  font-size: 15px;
  font-weight: 600;
}
section#footer .contact-us .contact .c-form {
  padding: 26px 16px;
  display: flow-root;
}
section#footer .contact-us .contact .c-form input {
  width: 100%;
  border-radius: 3px;
  padding: 7px;
  border: 1px solid #eee;
}
section#footer .contact-us .contact .c-form inputinput::placeholder {
  color: yellowgreen;
}
section#footer .contact-us .contact .c-form .text-area {
  margin-top: 14px;
  height: 15rem;
  width: 100%;
  padding-left: 8px;
  border: 1px solid #eee;
}
section#footer .contact-us .contact .btn-contact {
  text-align: left;
}
section#footer .contact-us .contact .btn-contact a {
  padding: 8px 35px;
  font-weight: bold;
  background-color: #6d42ebbd;
  color: #fff;
  display: inline-block;
  margin-top: 18px;
}
section#footer .footer-menu {
  padding: 41px 0;
  border-bottom: 2px solid #fff;
  display: flow-root;
}
section#footer .footer-menu h4 {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}
section#footer .footer-menu p {
  color: #fff;
  font-size: 17px;
}
section#footer .footer-menu ul {
  padding: 0;
}
section#footer .footer-menu ul li {
  list-style: none;
  padding: 6px 0;
}
section#footer .footer-menu ul li a {
  color: white;
  font-size: 17px;
}
section#footer .copyright {
  text-align: center;
  font-size: 13px;
  color: #fff;
  padding: 24px 0;
}

section#Introduction {
  padding: 102px 45px;
  background: url("/assets/images/2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
section#Introduction h1 {
  font-size: 44px;
  color: #38205ee8;
  font-weight: 700;
}
section#Introduction h3 {
  font-size: 23px;
  font-weight: 500;
  color: #9b9ba7;
}
section#Introduction a {
  padding: 8px 35px;
  font-weight: bold;
  background-color: #6d42ebbd;
  color: #fff;
}

section#whychooseus {
  background-color: #b5b5b52e;
  box-shadow: 0px 0px 1px #b5b5b52e;
  padding: 41px;
}
section#whychooseus .card {
  padding: 20px;
  margin-bottom: 3rem;
}
section#whychooseus .card:hover {
  background-color: #fff;
  cursor: pointer;
  box-shadow: 12px 0px 18px #b5b5b52e;
}
section#whychooseus .card .pink {
  background-color: #ffd0de70;
  color: #bb003e;
}
section#whychooseus .card .icon {
  border-radius: 50%;
}
section#whychooseus .card .icon svg {
  border-radius: 50px;
  padding: 15px;
  font-size: 54px;
}
section#whychooseus .card .icon .plum {
  background-color: #d9defe;
  color: #6d42ebbd;
}
section#whychooseus .card .icon .blue {
  background-color: rgba(185, 255, 243, 0.49);
  color: #00e7e4;
}
section#whychooseus .card .icon .yellow {
  background-color: rgba(255, 223, 175, 0.53);
  color: #feb801;
}
section#whychooseus .card h3 {
  color: #38205ee8;
  font-weight: 600;
  font-size: 20px;
}
section#whychooseus .card p {
  color: #9b9ba7;
}
section#whychooseus .white {
  background: #fff;
}
section#whychooseus .counter-section h4 {
  color: #6d42ebbd;
}
section#whychooseus .counter-section h3 {
  color: #38205ee8;
  font-weight: 600;
  font-size: 20px;
}
section#whychooseus .counter-section p {
  color: #9b9ba7;
  text-align: justify;
  font-size: 17px;
}
section#whychooseus .counter-section span {
  color: #38205ee8;
  font-size: 47px;
  font-weight: bold;
}

section#video-intro {
  padding: 41px;
  background: url("/assets/images/aboutus2.png");
  margin-top: 195px;
  height: 500px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}
section#video-intro .introduction {
  background: -webkit-linear-gradient(0deg, #6d42ebbd 0%, #bb003e80 100%);
  padding: 46px 63px;
  position: absolute;
  bottom: -133px;
  width: 77%;
}
section#video-intro .introduction h4 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
section#video-intro .introduction h2 {
  color: #fff;
  font-size: 27px;
  font-weight: bold;
}
section#video-intro .introduction a svg {
  color: #fff;
  font-size: 46px;
}