html
head
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet", href="../assets/css/style.css")
    link(rel="stylesheet", href="../assets/css/all.css")
    script(src="../assets/js/all.js")
title
    |Project 2
body
    include components/_header
    section#Introduction
        .container
            .row
                .col-md-12
                    .background-img
                        h1 Bringing Brands to Life Digitally.
                        h3 Web Design, App Development
                        h3 Digital Marketing Agency 
                        a(href="#")
                            | Our Projects
    section#whychooseus
        .container
            .row
                .col-md-6
                    .row
                        .col-md-6
                            .card.white
                                .icon
                                    i.far.fa-sticky-note.pink
                                h3 Website Design
                                p Sed ut perspiciatis unde omnis iste voluptatem
                        .col-md-6
                            .card
                                .icon
                                    i.far.fa-sticky-note.plum
                                h3 ECommerce
                                p Sed ut perspiciatis unde omnis iste voluptatem
                        .col-md-6
                            .card
                                .icon
                                    i.far.fa-sticky-note.blue
                                h3 Graphic Design
                                p Sed ut perspiciatis unde omnis iste voluptatem
                        .col-md-6
                            .card
                                .icon
                                    i.far.fa-sticky-note.yellow
                                h3 Social Media
                                p Sed ut perspiciatis unde omnis iste voluptatem
                .col-md-6
                    .row
                        .counter-section
                            h4 About
                            h3 Why Choose Owali .
                            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere maxi omnis voluptas assumenda est, omnis dolor repellendus.
                            .col-md-6
                                span 350+
                                p Completed projects
                            .col-md-6
                                span 25+
                                p Professional Team
                            .col-md-6
                                span 1900+
                                p Happy customers
                            .col-md-6
                                span 10+
                                p Inprogress Project
    section#video-intro
        .container
            .row
                .col-md-6
                    .introduction
                        h4 PLAY OUR INTRO
                        h2 Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod tempor inc ididunt ut labore et dolore magna aliqua.
                        a(href="")
                            i.far.fa-play-circle
    include components/_footer