section#Introduction{
    padding: 102px 45px;
    background: url("/assets/images/2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    h1{
        font-size: 44px;
        color: $dark-purple;
        font-weight: 700;
    }
    h3{
        font-size: 23px;
        font-weight: 500;
        color: $gray;
    }
    a{
        padding: 8px 35px;
        font-weight: bold;
        background-color: $primary-color;
        color: $light;
    }
}
section#whychooseus{
    background-color: $box-shadow;
    box-shadow: 0px 0px 1px $box-shadow;
    padding: 41px;
    .card{
        padding: 20px;
        margin-bottom: 3rem;
        &:hover{
            background-color: $light;
            cursor: pointer;
            box-shadow: 12px 0px 18px $box-shadow;
        }
        .pink{
            background-color: $pink;
            color: $dark-pink;
        }
        .icon{
            border-radius: 50%;
            svg{
                border-radius: 50px;
                padding: 15px;
                font-size: 54px;
            }
        .plum{
            background-color: $plum;
            color: $primary-color;
            }
        .blue{
            background-color: $blue;
            color: $dark-blue;
            }
        .yellow{
            background-color: $yellow;
            color: $dark-yellow;
            }
        }
        h3{
            color: $dark-purple;
            font-weight: 600;
            font-size: 20px;
        }
        p{
            color: $gray;
        }
    }
    .white{
        background: $light;
    }
    .counter-section{
        h4{
            color: $primary-color;
        }
        h3{
            color: $dark-purple;
            font-weight: 600;
            font-size: 20px;
        }
        p{
            color: $gray;
            text-align: justify;
            font-size: 17px;
        }
        span{
            color: $dark-purple;
            font-size: 47px;
            font-weight: bold;
        }
    }
}
section#video-intro{
    padding: 41px;
    background: url('/assets/images/aboutus2.png');
    margin-top: 195px;
    height: 500px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    .introduction{
        background:-webkit-linear-gradient(0deg, $primary-color 0%, $maroon 100%);
        padding: 46px 63px;
        position: absolute;
        bottom: -133px;
        width: 77%;
        h4{
            color: $light;
            font-size: 14px;
            font-weight: 700;
        }
        h2{
            color: $light;         
            font-size: 27px;
            font-weight: bold;
        }
        a{
            svg{
                color: $light;
                font-size: 46px;
            }
        }
    }
}