$grey:#eee;
$dark:#000;
$primary-color:#6d42ebbd;
$light-purple:#8f6fec00;
$dark-purple: #38205ee8;
$purple:#dde4ff;
$light:#fff;
$gray:rgb(155, 155, 167);
$pink:#ffd0de70;
$dark-pink:#bb003e;
$lighter-purple:#f6f8fa;
$box-shadow:#b5b5b52e;
$plum:#d9defe;
$dark-blue:rgb(0 231 228);
$blue:rgb(185 255 243 / 49%);
$yellow:rgb(255 223 175 / 53%);
$dark-yellow:rgb(254 184 1);
$maroon:#bb003e80;
$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0291e3 100%),
    warm: linear-gradient(135deg, #F2CD48 0%,#FD803F 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%)
), $gradients);